name: Analysis

on:
  push:
  pull_request:

jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Fetch Flutter SDK
        run: |
          git clone https://github.com/flutter/flutter.git
          cd flutter
          git fetch https://github.com/flutter/flutter.git `cat ../bin/internal/flutter.version`
          git checkout FETCH_HEAD

      - name: Install pub dependencies
        run: flutter/bin/flutter pub get

      - name: Verify formatting
        run: flutter/bin/dart format --output=none --set-exit-if-changed lib packages

      - name: Analyze project source
        run: flutter/bin/dart analyze --fatal-warnings lib
